@import "./src/style/colors.scss";

.directory {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    margin: 20px 15px;
}

.directory-spacer {
    width: 110px;
}

.directory-icon {
    position: relative;
}

.directory-icon .bar::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #c6c6c6;
    left: 11px;
    top: 20px;
    width: 1px;
    height: 61px;
}
.directory-icon .bar-left::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #c6c6c6;
    left: -7px;
    top: 12px;
    width: 11px;
    height: 1px;
}

.directory-icon.md {
    margin-left: 18px;
}

.directory-icon.md2 {
    margin-left: 36px;
}

.directory-icon .parent-bar::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #c6c6c6;
    left: -7px;
    top: 12px;
    width: 1px;
    height: 69px;
}

.directory-name {
    color: $white;
    font-size: 14px;
}