@import "./src/style/colors.scss";

.directory {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
}

.directory-hasParent {
    margin-left: 19px;
}

.directory-content {
    display: flex;
    position: relative;
    .directory-vertical-line {
        position: absolute;
        left: -8px;
        height: 100%;
        border-left: 1px solid #c6c6c6
    }
}

.directory-icon {
    position: relative;
    .bar-left {
        width: 11px;
        height: 1px;
        background-color: #c6c6c6;
        position: absolute;
        left: -7px;
        top: 11px;
    }
    .bar-vert-top {
        width: 1px;
        height: 29px;
        background-color: #c6c6c6;
        position: absolute;
        left: -8px;
        top: -17px;
    }
    .bar-vert-bottom {
        width: 1px;
        height: 32px;
        background-color: #c6c6c6;
        position: absolute;
        left: -8px;
        top: 12px;
    }
    .bar-bottom {
        width: 1px;
        height: 23px;
        background-color: #c6c6c6;
        position: absolute;
        left: 11px;
        top: 20px;
    }
}
